interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/60
    response:
      body:
        {
          string:
            '{
              "id": 60,
              "name": "Shirt",
              "slug": "Shirt",
              "type": "simple",
              "status": "publish",
              "featured": false,
              "catalog_visibility": "visible",
              "description": "<p>shirt.</p>\n",
              "short_description": "<p>shirt.</p>\n",
              "sku": "shirt-sku",
              "price": 500,
              "regular_price": "",
              "sale_price": "",
              "on_sale": false,
              "purchasable": false,
              "total_sales": 0,
              "virtual": false,
              "downloadable": false,
              "downloads": [],
              "download_limit": -1,
              "download_expiry": -1,
              "external_url": "",
              "button_text": "",
              "tax_status": "taxable",
              "tax_class": "",
              "manage_stock": false,
              "backorders": "no",
              "backorders_allowed": false,
              "backordered": false,
              "sold_individually": false,
              "weight": "",
              "dimensions": {
                  "length": "",
                  "width": "",
                  "height": ""
              },
              "shipping_required": true,
              "shipping_taxable": true,
              "shipping_class": "",
              "shipping_class_id": 0,
              "reviews_allowed": true,
              "average_rating": "0.00",
              "rating_count": 0,
              "categories": [],
              "tags": [],
              "images": [],
              "attributes": [],
              "price_html": "",
              "stock_status": "instock",
              "has_options": false,
              "bundled_by": [],
              "bundle_stock_status": "instock",
              "bundle_virtual": false,
              "bundle_layout": "",
              "bundle_add_to_cart_form_location": "",
              "bundle_editable_in_cart": false,
              "jetpack_publicize_connections": [],
              "jetpack_sharing_enabled": true,
              "jetpack_likes_enabled": true,
              "brands": [],
              "_links": {
                  "self": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/60"
                      }
                  ],
                  "collection": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products"
                      }
                  ]
              }
            }',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
