[submodule ".generic_misc_modules"]
	path = .generic_misc_modules
	url = git@git.bizzappdev.com:bizzappdev/misc/generic_misc_modules.git
	mr_link = https://git.bizzappdev.com/bizzappdev/connector/connector-woocommerce/-/merge_requests/86
