interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products
    response:
      body:
        {
          string:
            '{
              "id": 56,
              "name": "Product",
              "slug": "product-2",
              "permalink": "https://woo-wildly-inner-cycle.wpcomstaging.com/product/product-2/",
              "type": "simple",
              "status": "publish",
              "featured": false,
              "catalog_visibility": "visible",
              "description": "",
              "short_description": "",
              "sku": "",
              "price": "",
              "regular_price": "",
              "sale_price": "",
              "date_on_sale_from": null,
              "date_on_sale_from_gmt": null,
              "date_on_sale_to": null,
              "date_on_sale_to_gmt": null,
              "on_sale": false,
              "purchasable": false,
              "total_sales": 0,
              "virtual": false,
              "downloadable": false,
              "downloads": [],
              "download_limit": -1,
              "download_expiry": -1,
              "external_url": "",
              "button_text": "",
              "tax_status": "taxable",
              "tax_class": "",
              "manage_stock": false,
              "stock_quantity": null,
              "backorders": "no",
              "backorders_allowed": false,
              "backordered": false,
              "low_stock_amount": null,
              "sold_individually": false,
              "weight": "",
              "dimensions": {
                  "length": "",
                  "width": "",
                  "height": ""
              },
              "shipping_required": true,
              "shipping_taxable": true,
              "shipping_class": "",
              "shipping_class_id": 0,
              "reviews_allowed": true,
              "average_rating": "0.00",
              "rating_count": 0,
              "upsell_ids": [],
              "cross_sell_ids": [],
              "parent_id": 0,
              "purchase_note": "",
              "categories": [],
              "tags": [],
              "images": [],
              "attributes": [],
              "default_attributes": [],
              "variations": [],
              "grouped_products": [],
              "menu_order": 0,
              "price_html": "",
              "related_ids": [],
              "meta_data": [
                  {
                      "id": 361,
                      "key": "_wpas_done_all",
                      "value": "1"
                  },
                  {
                      "id": 379,
                      "key": "_last_editor_used_jetpack",
                      "value": "classic-editor"
                  }
              ],
              "stock_status": "instock",
              "has_options": false,
              "bundled_by": [],
              "bundle_stock_status": "instock",
              "bundle_stock_quantity": null,
              "bundle_virtual": false,
              "bundle_layout": "",
              "bundle_add_to_cart_form_location": "",
              "bundle_editable_in_cart": false,
              "bundle_sold_individually_context": "",
              "bundle_item_grouping": "",
              "bundle_min_size": "",
              "bundle_max_size": "",
              "bundle_price": [],
              "bundled_items": [],
              "bundle_sell_ids": [],
              "jetpack_publicize_connections": [],
              "jetpack_sharing_enabled": true,
              "jetpack_likes_enabled": true,
              "brands": [],
              "_links": {
                  "self": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/56"
                      }
                  ],
                  "collection": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products"
                      }
                  ]
              }
          }',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
