interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/50
    response:
      body:
        {
          string:
            '{
              "id": 50,
              "name": "Shirt",
              "slug": "Shirt",
              "type": "simple",
              "status": "publish",
              "featured": false,
              "catalog_visibility": "visible",
              "description": "<p>shirt.</p>\n",
              "short_description": "<p>shirt.</p>\n",
              "sku": "shirt-sku",
              "price": 500,
              "regular_price": "599",
              "sale_price": "",
              "on_sale": false,
              "purchasable": false,
              "total_sales": 0,
              "virtual": false,
              "downloadable": false,
              "downloads": [],
              "download_limit": -1,
              "download_expiry": -1,
              "external_url": "",
              "button_text": "",
              "tax_status": "taxable",
              "tax_class": "",
              "manage_stock": false,
              "backorders": "no",
              "backorders_allowed": false,
              "backordered": false,
              "sold_individually": false,
              "weight": "",
              "dimensions": {
                  "length": "",
                  "width": "",
                  "height": ""
              },
              "shipping_required": true,
              "shipping_taxable": true,
              "shipping_class": "",
              "shipping_class_id": 0,
              "reviews_allowed": true,
              "average_rating": "0.00",
              "rating_count": 0,
              "categories": [
                   {
                      "id": 1374,
                      "name": "Men",
                      "slug": "men"
                  }
              ],
              "tags": [
                  {
                      "id": 35,
                      "name": "Latest",
                      "slug": "latest"
                  }
              ],
              "images": [],
              "attributes": [
                  {
                    "id": 1,
                    "name": "colour",
                    "position": 0,
                    "visible": true,
                    "variation": false,
                    "options": []
                },
                  {
                    "id": 0,
                    "name": "Design",
                    "position": 1,
                    "visible": true,
                    "variation": false,
                    "options": [
                        "Simple",
                        "Hard"
                    ]
                }
              ],
              "price_html": "",
              "stock_status": "instock",
              "has_options": false,
              "bundled_by": [],
              "bundle_stock_status": "instock",
              "bundle_virtual": false,
              "bundle_layout": "",
              "bundle_add_to_cart_form_location": "",
              "bundle_editable_in_cart": false,
              "jetpack_publicize_connections": [],
              "jetpack_sharing_enabled": true,
              "jetpack_likes_enabled": true,
              "brands": [],
              "_links": {
                  "self": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/50"
                      }
                  ],
                  "collection": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products"
                      }
                  ]
              }
            }',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/tags/35
    response:
      body:
        {
          string:
            '
              {
                "id": 35,
                "name": "Latest",
                "slug": "latest",
                "description": "latest tag for product.",
                "count": 1,
                "_links": {
                    "self": [
                        {
                            "href": "http://localhost:8080/wp-json/wc/v3/products/tags/35"
                        }
                    ],
                    "collection": [
                        {
                            "href": "http://localhost:8080/wp-json/wc/v3/products/tags"
                        }
                    ]
                }
            }
            ',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/attributes/1
    response:
      body:
        {
          string:
            '{
              "id": 1,
              "name": "colour",
              "slug": "pa_colour",
              "type": "select",
              "order_by": "menu_order",
              "has_archives": false,
              "_links": {
                  "self": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/attributes/1"
                      }
                  ],
                  "collection": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/attributes"
                      }
                  ]
              }
            }',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/categories/1374
    response:
      body:
        {
          string:
            '{
              "id": 1374,
              "name": "Men",
              "slug": "men",
              "parent": 0,
              "description": "Men-category",
              "display": "default",
              "image": null,
              "menu_order": 0,
              "count": 4,
              "_links": {
                  "self": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/categories/1374"
                      }
                  ],
                  "collection": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/products/categories"
                      }
                  ]
              }
            }',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/orders/71
    response:
      body:
        {
          string:
            '
              {
                "id": 71,
                "parent_id": 0,
                "status": "processing",
                "currency": "USD",
                "version": "7.9.0",
                "prices_include_tax": false,
                "date_created": "2023-07-27T13:39:35",
                "date_modified": "2023-07-27T13:39:36",
                "discount_total": "-40.00",
                "discount_tax": "1.00",
                "shipping_total": "10.00",
                "shipping_tax": "1.00",
                "cart_tax": "0.00",
                "total": "50.00",
                "total_tax": "0.00",
                "customer_id": 237660088,
                "order_key": "wc_order_qzJgPfO1CWI8B",
                "billing": {
                    "first_name": "john",
                    "last_name": "Doe",
                    "company": "",
                    "address_1": "969 Market",
                    "address_2": "",
                    "city": "San Francisco",
                    "state": "CA",
                    "postcode": "94103",
                    "country": "US",
                    "email": "john.doe@gmail.com",
                    "phone": "(555) 555-5555"
                },
                "shipping": {
                    "first_name": "john",
                    "last_name": "Doe",
                    "company": "",
                    "address_1": "969 Market",
                    "address_2": "",
                    "city": "San Francisco",
                    "state": "CA",
                    "postcode": "94103",
                    "country": "US",
                    "phone": ""
                },
                "payment_method": "bacs",
                "payment_method_title": "Direct Bank Transfer",
                "transaction_id": "",
                "customer_ip_address": "",
                "customer_user_agent": "",
                "created_via": "rest-api",
                "customer_note": "",
                "date_completed": null,
                "date_paid": "2023-07-27T13:39:36",
                "cart_hash": "",
                "number": "71",
                "meta_data": [],
                "line_items": [
                    {
                        "id": 10,
                        "name": "Shirt",
                        "product_id": 50,
                        "variation_id": 0,
                        "quantity": 3,
                        "tax_class": "",
                        "subtotal": "2997.00",
                        "subtotal_tax": "569.43",
                        "total": "2997.00",
                        "total_tax": "569.43",
                        "taxes": [
                            {
                                "id": 1,
                                "total": "569.43",
                                "subtotal": "569.43"
                            }
                        ],
                        "meta_data": [],
                        "sku": "cloth-sku",
                        "price": 999,
                        "image": {
                            "id": "51",
                            "src": "http://localhost:8080/wp-content/uploads/2023/09/vnech-tee-blue-1.jpg"
                        },
                        "parent_name": null
                    }
                ],
                "tax_lines": [],
                "shipping_lines": [
                            {
                                "id": 43,
                                "method_title": "Flat Rate",
                                "method_id": "flat_rate",
                                "instance_id": "",
                                "total": "10.00",
                                "total_tax": "0.00",
                                "taxes": [
                                  {
                                    "id": 1,
                                    "total": "1.50",
                                    "subtotal": ""
                                  }
                                ],
                                "meta_data": []
                            }
                        ],
                "fee_lines": [
                  {
                      "id": 74,
                      "name": "$0.00 fee",
                      "tax_class": "",
                      "tax_status": "taxable",
                      "amount": "5",
                      "total": "5.00",
                      "total_tax": "0.75",
                      "taxes": [
                          {
                              "id": 1,
                              "total": "0.75",
                              "subtotal": ""
                          }
                      ],
                      "meta_data": []
                  }
                ],
                "coupon_lines": [
                    {
                        "id": 20,
                        "code": "flat50",
                        "discount": "50",
                        "discount_tax": "9.5",
                        "meta_data": [
                            {
                                "id": 135,
                                "key": "coupon_data",
                                "value": {
                                    "id": 76,
                                    "code": "flat50",
                                    "amount": "50",
                                    "status": "publish",
                                    "date_created": {
                                        "date": "2023-10-09 11:01:17.000000",
                                        "timezone_type": 1,
                                        "timezone": "+00:00"
                                    },
                                    "date_modified": {
                                        "date": "2023-10-09 11:01:17.000000",
                                        "timezone_type": 1,
                                        "timezone": "+00:00"
                                    },
                                    "date_expires": null,
                                    "discount_type": "fixed_cart",
                                    "description": "",
                                    "usage_count": 1,
                                    "individual_use": false,
                                    "product_ids": [],
                                    "excluded_product_ids": [],
                                    "usage_limit": 0,
                                    "usage_limit_per_user": 0,
                                    "limit_usage_to_x_items": null,
                                    "free_shipping": false,
                                    "product_categories": [],
                                    "excluded_product_categories": [],
                                    "exclude_sale_items": false,
                                    "minimum_amount": "",
                                    "maximum_amount": "",
                                    "email_restrictions": [],
                                    "virtual": false,
                                    "meta_data": []
                                },
                                "display_key": "coupon_data",
                                "display_value": {
                                    "id": 76,
                                    "code": "flat50",
                                    "amount": "50",
                                    "status": "publish",
                                    "date_created": {
                                        "date": "2023-10-09 11:01:17.000000",
                                        "timezone_type": 1,
                                        "timezone": "+00:00"
                                   [...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/taxes/1
    response:
      body:
        {
          string:
            '
              {
                  "id": 1,
                  "country": "",
                  "state": "",
                  "postcode": "",
                  "city": "",
                  "rate": "19.0000",
                  "name": "Tax",
                  "priority": 1,
                  "compound": false,
                  "shipping": true,
                  "order": 0,
                  "class": "standard",
                  "postcodes": [],
                  "cities": [],
                  "_links": {
                      "self": [
                          {
                              "href": "http://localhost:8080/wp-json/wc/v3/taxes/1"
                          }
                      ],
                      "collection": [
                          {
                              "href": "http://localhost:8080/wp-json/wc/v3/taxes"
                          }
                      ]
                  }
              }
          ',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/customers/237660088
    response:
      body:
        {
          string:
            '
              {
                "id": 237660088,
                "email": "john.doe@example.com",
                "first_name": "John",
                "last_name": "Doe",
                "role": "customer",
                "username": "John Doe",
                "billing": {
                    "first_name": "john",
                    "last_name": "doe",
                    "company": "abc",
                    "address_1": "house 1",
                    "address_2": "california",
                    "postcode": "555555",
                    "city":"california city",
                    "email": "john@example.com",
                    "phone": "999555999"
                },
                "shipping": {
                    "first_name": "john",
                    "last_name": "doe",
                    "company": "abc",
                    "address_1": "house 2",
                    "address_2": "california",
                    "city": "california city",
                    "postcode": "565656",
                    "country": "USA",
                    "state": "CA",
                    "phone": "999555999"
                },
                "is_paying_customer": false,
                "avatar_url": "https://secure.gravatar.com/avatar/9efb2045a29a88d95f966b9451425c03?s=96&d=identicon&r=g",
                "meta_data": [
                    {
                        "id": 51,
                        "key": "_aw_user_registered",
                        "value": "1"
                    }
                ],
                "_links": {
                    "self": [
                        {
                            "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/customers/237660088"
                        }
                    ],
                    "collection": [
                        {
                            "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/customers"
                        }
                    ]
                }
              }
            ',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/shipping_methods/flat_rate
    response:
      body:
        {
          string:
            '
              {
                "id": "flat_rate",
                "title": "Flat rate",
                "description": "Lets you charge a fixed rate for shipping.",
                "_links": {
                    "self": [
                        {
                            "href": "http://localhost:8080/wp-json/wc/v3/shipping_methods/flat_rate"
                        }
                    ],
                    "collection": [
                        {
                            "href": "http://localhost:8080/wp-json/wc/v3/shipping_methods"
                        }
                    ]
                }
            }
          ',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
[...]
