interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/orders
    response:
      body:
        {
          string:
            '{
              "id": 71,
              "parent_id": 0,
              "status": "processing",
              "currency": "USD",
              "version": "7.9.0",
              "prices_include_tax": false,
              "date_created": "2023-07-27T13:39:35",
              "date_modified": "2023-07-27T13:39:36",
              "discount_total": "-40.00",
              "discount_tax": "0.00",
              "shipping_total": "10.00",
              "shipping_tax": "0.00",
              "cart_tax": "0.00",
              "total": "50.00",
              "total_tax": "0.00",
              "customer_id": 237660088,
              "order_key": "wc_order_qzJgPfO1CWI8B",
              "billing": {
                  "first_name": "john",
                  "last_name": "Doe",
                  "company": "",
                  "address_1": "969 Market",
                  "address_2": "",
                  "city": "San Francisco",
                  "state": "CA",
                  "postcode": "94103",
                  "country": "US",
                  "email": "john.doe@gmail.com",
                  "phone": "(555) 555-5555"
              },
              "shipping": {
                  "first_name": "john",
                  "last_name": "Doe",
                  "company": "",
                  "address_1": "969 Market",
                  "address_2": "",
                  "city": "San Francisco",
                  "state": "CA",
                  "postcode": "94103",
                  "country": "US",
                  "phone": ""
              },
              "payment_method": "bacs",
              "payment_method_title": "Direct Bank Transfer",
              "transaction_id": "",
              "customer_ip_address": "",
              "customer_user_agent": "",
              "created_via": "rest-api",
              "customer_note": "",
              "date_completed": null,
              "date_paid": "2023-07-27T13:39:36",
              "cart_hash": "",
              "number": "71",
              "meta_data": [],
              "line_items": [
                  {
                      "id": 42,
                      "name": "Product",
                      "product_id": 56,
                      "variation_id": 0,
                      "quantity": 3,
                      "tax_class": "",
                      "subtotal": "40.00",
                      "subtotal_tax": "0.00",
                      "total": "40.00",
                      "total_tax": "0.00",
                      "taxes": [],
                      "meta_data": [],
                      "sku": "",
                      "price": 13.333333333333334,
                      "image": {
                          "id": "",
                          "src": ""
                      },
                      "parent_name": null,
                      "bundled_by": "",
                      "bundled_item_title": "",
                      "bundled_items": []
                  }
              ],
              "tax_lines": [],
              "shipping_lines": [
                  {
                      "id": 43,
                      "method_title": "Flat Rate",
                      "method_id": "flat_rate",
                      "instance_id": "",
                      "total": "10.00",
                      "total_tax": "0.00",
                      "taxes": [],
                      "meta_data": []
                  }
              ],
              "fee_lines": [],
              "coupon_lines": [],
              "refunds": [],
              "payment_url": "https://woo-wildly-inner-cycle.wpcomstaging.com/checkout/order-pay/71/?pay_for_order=true&key=wc_order_qzJgPfO1CWI8B",
              "is_editable": false,
              "needs_payment": false,
              "needs_processing": true,
              "date_created_gmt": "2023-07-27T08:09:35",
              "date_modified_gmt": "2023-07-27T08:09:36",
              "date_completed_gmt": null,
              "date_paid_gmt": "2023-07-27T08:09:36",
              "gift_cards": [],
              "currency_symbol": "$",
              "_links": {
                  "self": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/orders/71"
                      }
                  ],
                  "collection": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/orders"
                      }
                  ],
                  "customer": [
                      {
                          "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/customers/237660088"
                      }
                  ]
            }
          }',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
