interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/customers
    response:
      body:
        {
          string:
            '
              {
                "id": 237660088,
                "email": "siddhi.padiya@gmail.com",
                "first_name": "",
                "last_name": "",
                "role": "customer",
                "username": "siddhi padiya",
                "billing": {
                    "first_name": "",
                    "last_name": "",
                    "company": "",
                    "address_1": "",
                    "address_2": "",
                    "city": "",
                    "postcode": "",
                    "country": "",
                    "state": "",
                    "email": "",
                    "phone": ""
                },
                "shipping": {
                    "first_name": "",
                    "last_name": "",
                    "company": "",
                    "address_1": "",
                    "address_2": "",
                    "city": "",
                    "postcode": "",
                    "country": "",
                    "state": "",
                    "phone": ""
                },
                "is_paying_customer": false,
                "avatar_url": "https://secure.gravatar.com/avatar/9efb2045a29a88d95f966b9451425c03?s=96&d=identicon&r=g",
                "meta_data": [
                    {
                        "id": 51,
                        "key": "_aw_user_registered",
                        "value": "1"
                    }
                ],
                "_links": {
                    "self": [
                        {
                            "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/customers/237660088"
                        }
                    ],
                    "collection": [
                        {
                            "href": "https://woo-wildly-inner-cycle.wpcomstaging.com/wp-json/wc/v3/customers"
                        }
                    ]
                }
              }
            ',
        }
      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
